[submodule "pokemon-app-client"]
	path = pokemon-app-client
	url = https://github.com/shroysha/pokemon-app-client.git
[submodule "pokemon-ejb"]
	path = pokemon-ejb
	url = https://github.com/shroysha/pokemon-ejb.git
[submodule "pokemon-war"]
	path = pokemon-war
	url = https://github.com/shroysha/pokemon-war.git
